*{
    color: orange;
    background-color: black;
    text-align: center;
    font-size: xx-large;
    list-style-position: inside;
}
h1{
    color: blue;
    font-size: x-large;
}
h3{
    color: yellow;
}
img{
    height: 400px;
    width:500px;
    border-radius: 250%;
}